VITE_STARDORM_API_URL=
VITE_STARDORM_SUBGRAPH_URL_MAINNET=
VITE_STARDORM_SUBGRAPH_URL_TESTNET=
VITE_STARDORM_PAYMENT_TOKEN_DECIMALS=
VITE_IDENTITY_REGISTRY_ADDRESS_MAINNET=
VITE_REPUTATION_REGISTRY_ADDRESS_MAINNET=
VITE_IDENTITY_REGISTRY_ADDRESS_TESTNET=
VITE_REPUTATION_REGISTRY_ADDRESS_TESTNET=
VITE_REOWN_PROJECT_ID=


